.cart {
    color: #dbb358;
    font-weight: lighter;
}

#head {
    font-weight: lighter;
}

.picked-item-container {
    height: 20em;
    /* border: 0.3px solid rgb(185, 185, 185); */
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 30em;
    margin-right: 10px;
}

.order-cart-container {
    display: flex
}

.order-total {
    width: 22em;
}

#total-heads {
    font-weight: bolder;
    color: #dbb358;
}

#amounts-numbers {
    font-weight: bolder;
}

.order-total {
    /* border: 0.3px solid rgb(185, 185, 185); */
    border-radius: 5px;
}

.subtotal {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.checkout-btn {
    background-color: #dbb358;
    padding: 1px;
    width: 200px;
    border: 1px solid #dbb358;
    border-radius: 4px;
    color: white;
    font-weight: lighter;
    margin-top: 10px;
}

/* For WebKit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color of the track (area behind the scrollbar) */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the scrollbar thumb (the draggable part) */
    border-radius: 6px;
    /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    /* Width of the scrollbar */
    scrollbar-color: #dbb358 #f1f1f1;
    /* Color of the scrollbar thumb and track */
}