.cart {
    color: #dbb358;
    font-weight: lighter;
}

#head {
    font-weight: lighter;
}

.picked-item-container {
    height: 20em;
    /* border: 0.3px solid rgb(185, 185, 185); */
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 30em;
    margin-right: 10px;
}

.order-cart-container {
    display: flex
}

.order-total {
    width: 22em;
}

#total-heads {
    font-weight: bolder;
    color: #dbb358;
}

#amounts-numbers {
    font-weight: lighter;
    font-size: 20px;
}

.order-total {
    /* border: 0.3px solid rgb(185, 185, 185); */
    border-radius: 5px;
}

.subtotal {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.checkout-btn {
    background-color: #dbb358;
    padding: 1px;
    width: 310px;
    /* border: 1px solid #dbb358; */
    border-radius: 4px;
    color: white;
    font-weight: lighter;
    margin-top: 10px;
}


/* For WebKit-based browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color of the track (area behind the scrollbar) */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color of the scrollbar thumb (the draggable part) */
    border-radius: 6px;
    /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    /* Width of the scrollbar */
    scrollbar-color: #dbb358 #f1f1f1;
    /* Color of the scrollbar thumb and track */

#landing-page {
    padding: 15px;
}

#welcome-words {
    margin-top: 100px;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 80px;
}

.A {
    font-weight: bolder;
}

#info-words {
    /* border: 1px solid yellow; */
    /* margin-top: 80px; */
}

#main-container {
    /* margin-top: 3em; */
}



.slider-container {
    /* border: 1px solid black; */
}

.link-see-more {
    font-weight: bolder;
    font-size: 16px;
    color: #dbb358;
    cursor: pointer;

}

.title-link {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-product-listing {
    /* border: 1px solid red/; */
    width: 170%;
}

.single-item {}

.single-item:hover {
    /* box-shadow: 5px 5px 5px ; */

}

/* Increase the width of the slider */
.slick-list {
    margin:auto;
    width: 178%;
    /* Set your desired width */
}