.cart {
    color: #dbb358;
    font-weight: lighter;
}

#head {
    font-weight: lighter;
}

.picked-item-container {
    height: 15em;
    /* border: 0.3px solid rgb(185, 185, 185); */
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    max-width: 30em;
    margin-right: 10px;
}

.order-cart-container {
    display: flex
}

.order-total {
    width: 22em;
}

#total-heads {
    font-weight: bolder;
    color: #dbb358;
}

#amounts-numbers {
    font-weight: bolder;
}

.order-total {
    /* border: 0.3px solid rgb(185, 185, 185); */
    border-radius: 5px;
}

.subtotal {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.checkout-btn {
    background-color: #dbb358;
    padding: 1px;
    width: 200px;
    border: 1px solid #dbb358;
    border-radius: 4px;
    color: white;
    font-weight: lighter;
    margin-top: 10px;
}

#landing-page {
    padding: 15px;
}

#welcome-words {
    margin-top: 100px;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 80px;
}

.A {
    font-weight: bolder;
}

#info-words {
    /* border: 1px solid yellow; */
    margin-top: 80px;
}

#main-container {
    margin-top: 3em;
}

:root {
    --scrollbar-width: 15px;
    --scrollbar-thumb-color: #929292;
    --scrollbar-track-color: #ffffff;
}