.side-main {
    /* border-right: 1px solid black; */
    width: fit-content;
    height: 100vh;
    position:fixed;
    margin-top: 90px;
    margin-right: 100px;
    background-color: #dbb358;
    box-shadow: 1px 2px 3px #787878;
    
}

.side-main-container{
    margin-top: 100px;

}
.items {
    color: #141414;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

