.side-main {
    border-right: 1px solid black;
    width: fit-content;
    height: 100vh;
    
}

.items {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border: 1px solid yellow;
}
